.nav {
  /* background-color: #2e3238; */
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav__bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
}

.nav__bar-elements {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav__bar-elements a {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 640px) {
  .nav {
    display: none;
  }
}
